################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GBC_Travel-Group-45/.vs/GBC_Travel-Group-45/FileContentIndex/cb2c5d9e-8a29-41cb-90ac-398eed0cbf37.vsidx
/GBC_Travel-Group-45/.vs/GBC_Travel-Group-45/FileContentIndex/cf1c381b-8fb7-484b-ad30-58d6dae85a4b.vsidx
