@model GBC_Travel_Group_45.Models.Car

@{
    ViewData["Title"] = "Add New Car";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Make" class="control-label"></label>
        <input asp-for="Make" class="form-control" />
        <span asp-validation-for="Make" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Model" class="control-label"></label>
        <input asp-for="Model" class="form-control" />
        <span asp-validation-for="Model" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Year" class="control-label"></label>
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Color" class="control-label"></label>
        <input asp-for="Color" class="form-control" />
        <span asp-validation-for="Color" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumOfSeats" class="control-label"></label>
        <input asp-for="NumOfSeats" class="form-control" />
        <span asp-validation-for="NumOfSeats" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PricePerDay" class="control-label"></label>
        <input asp-for="PricePerDay" class="form-control" />
        <span asp-validation-for="PricePerDay" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CarType" class="control-label"></label>
        <input asp-for="CarType" class="form-control" />
        <span asp-validation-for="CarType" class="text-danger"></span>
    </div>

    <div>
        <label  class="control-label"></label>
        <input type="file" multiple name="carImages" class="form-control" />

    </div>


    <button type="submit" class="btn btn-primary">Create</button>
</form>

<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
