<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e399d77f-0044-47fa-a32e-66fbdc92cb6d/resourceGroups/GBC_Travel_Group/providers/Microsoft.Web/sites/GBC45JetSetGo</ResourceId>
    <ResourceGroup>GBC_Travel_Group</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gbc45jetsetgo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>5a7aac71-0547-4fbb-9724-d46e7d5ae80b</ProjectGuid>
    <MSDeployServiceURL>gbc45jetsetgo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GBC45JetSetGo</DeployIisAppPath>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$GBC45JetSetGo</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAJnLCh6OP70CwyhZONVaaOQAAAAACAAAAAAAQZgAAAAEAACAAAAB6/Yddq0XTI2baZPJICIbLffTdjPgZ/u8SNAmig09RdAAAAAAOgAAAAAIAACAAAADDjldoNWlluNLYuvO8QsWamcpAEkmYLdzz3rW+BmE4T4AAAACsnU5bbIyq4qHOl5hxVNWICqvaUeIGPHBzWXlsyaE9sIrkHfDBgWZq1T+ZoT8esGflilm1+n0p3t+rgNCzByw6vyCO4iQxKFU/Ygc5X4uX2rnPeXiLcWuj0EzVsBpnYnp8d+zqNsN+/0mtYi2iqJyyAoCXAmJvNfBjm0RHgDxVHUAAAAAkK7J1aWFpZ+CAEt5MjAg6DPVbgtCsJ8kfHwKt0FnA2XF1H0op3RGefqVkbDma/LVoA+t6jFS80dJAeqSfYOcy</EncryptedPassword>
    <History>False|2024-03-26T01:02:55.4062085Z;</History>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <RemoteSitePhysicalPath />
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>